<!-- ONE TICKET -->
<div class="row">

  <!-- TICKET -->
  <div class="col-11">
    
    <div class="card">
      <div class="row">
        
        <!-- Date and type -->
        <div class="col-12 d-flex justify-content-center align-items-center my-3">
          
          <h4 class="subtittle-tickets">Alberto has made a reimbursement to Paco of 3.48 <i class="fas fa-euro-sign"></i></h4>

        </div>
        
      </div>

    </div>
  </div>

  <!-- BUTTON TRASH -->
  <div class="col-1 d-flex align-items-center">
    <a class="nav-link nav-linkk circle-linkk" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
      <i class="header-profile login-icon-color fas fa-trash"></i> 
    </a>
  </div>

</div>
<!-- END ONE TICKET-->