<!-- PHOTO AND TITTLE -->

  <!-- Photo -->
  <div class="col-3 d-flex justify-content-start align-items-center">
    <img class="image-groups" src="images/others/groups-nophoto.png" alt="Card image cap">
  </div>

  <!-- Name -->
  <div class="col-7 d-flex justify-content-start align-items-center">
    <h4 class="ticket-name-group1">URJC PlayGround</h4>
  </div>

  <!-- Edit Button -->
  <div class="col-1 d-flex align-items-center">
    <a class="nav-linkkkk nav-linkkkk circle-linkkkk" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
      <i class="header-profile login-icon-color fas fa-pen"></i> 
    </a>
  </div>

</div>



<!-- TOTAL COUNTS -->
<div class="card">

  <!-- Tittle -->
  <div class="row">
    <div class="col-12 barra-abajo">
      <h4 class="ticket-name-group1 profit-name-group1 m-2">RESUME</h4>
    </div>
  </div>

  <!-- Total Cost -->
  <div class="row">
    <div class="col-6 barra-lateral-peque">
      <p class="ticket-name-group1 m-2">Total cost</p>
    </div>

    <div class="col-6">
      <p class="ticket-name-group1 m-2">+ 34.57</p>
    </div>
  </div>

  <!-- Total Income -->
  <div class="row barra-abajo">
    <div class="col-6 barra-lateral-peque">
      <p class="ticket-name-group1 m-2">Total income</p>
    </div>
  
    <div class="col-6">
      <p class="ticket-name-group1 m-2">- 8.19</p>
    </div>
  </div>

  <!-- Total Profit -->
  <div class="row">
    <div class="col-6 barra-lateral-peque">
      <p class="ticket-name-group1 m-2">Total profit</p>
    </div>

    <div class="col-6">
      <p class="ticket-name-group1 m-2">+ 26.52</p>
    </div>
  </div>
</div>



<br>


<!-- TOTAL TICKETS -->
<div class="card">
    
  <!-- Total Cost -->
  <div class="row">
    <div class="col-6 barra-lateral-peque">
      <p class="ticket-name-group1 m-2">Winning Tickets</p>
    </div>

    <div class="col-6">
      <p class="ticket-name-group1 m-2">7</p>
    </div>
  </div>

  <!-- Total Cost -->
  <div class="row">
    <div class="col-6 barra-lateral-peque">
      <p class="ticket-name-group1 m-2">Not Winning Tickets</p>
    </div>

    <div class="col-6">
      <p class="ticket-name-group1 m-2">3</p>
    </div>
  </div>

  <!-- Total Cost -->
  <div class="row">
    <div class="col-6 barra-lateral-peque">
      <p class="ticket-name-group1 m-2">Pending Tickets</p>
    </div>

    <div class="col-6">
      <p class="ticket-name-group1 m-2">2</p>
    </div>
  </div>
  
</div>

<br>


<!--------- END COL RESUME --------->