<!-- ONE TICKET -->
<div class="row">

  <!-- TICKET -->
  <div class="col-11">
    
    <div class="card">
      <div class="row d-flex justify-content-end align-items-center">
        
        <!-- Date and type -->
        <div class="col-3 barra-lateral">
          
          <div class="m-4 mr-5">
            <div class="row d-flex justify-content-center align-items-center">
              <h5 class="ticket-name-group1 ">26/02/2025</h5>
            </div>

            <div class="row d-flex justify-content-center align-items-center">
              <h2 class="ticket-name-group1">El Gordo</h2>
            </div>
          </div>

        </div>

        <!-- Profit -->
        <div class="col-3">
          <div class="row d-flex justify-content-center align-items-center">
            <h4 class="profit-name-group1 my-2">Profit:</h4>
          </div>

          <div class="row d-flex justify-content-center align-items-center">
            <h4 class="ticket-name-group1">+ 45.67</h4>
          </div>
        </div>
        <div class="col-1"></div>


        <!-- Status -->
        <div class="col-3">
          <div class="row d-flex justify-content-center align-items-center">
            <h4 class="profit-name-group1 my-2">Status:</h4>
          </div>

          <div class="card card-price justify-content-center align-items-center">
            <!--i class="notification-icon fas fa-bell fa-bounce"></i-->
            <p class="card-status">Winning</p>
          </div>
        </div>
        <div class="col-1"></div>
        
        
      </div>

    </div>
  </div>

  <!-- BUTTON TRASH -->
  <div class="col-1 d-flex align-items-center">
    <a class="nav-link nav-linkk circle-linkk" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
      <i class="header-profile login-icon-color fas fa-trash"></i> 
    </a>
  </div>

</div>
<!-- END ONE TICKET-->