<div class="row">
    <div class="col-2"></div>
    
    <div class="col-5">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row d-flex align-items-center">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h3 class="ticket-name-group1 subtittle-tickets">PERSONAL</h3>
                        </div>

                        <div class="col-2"></div>
               
                        <!-- Buttons -->
                        <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0">
                            <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                                <i class="header-profilek login-icon-color fas fa-pen"></i> 
                            </a>
                        </div>
                        
                    </div>

                    
                </div>
                
            </div>


            <!-- INFORMATION -->
            <div class="row">

                <div class="col-12 ">

                    <!-- Ticket Type -->
                    <div class="row">
                        <div class="col-12">


                            <div class="row">
                                <div class="col-12">
        
                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">First Name:</p>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">Amanda</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
        
                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">Last Name:</p>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">Castro López</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
        
                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">Nick Name:</p>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">Paco</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
        
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    
                </div>

            </div>

            <!-- Date -->
            <div class="row">
                <div class="col-12">

                    <div class="row align-items-center mt-2 ml-4">
                        <p class="subtittle-tickets">Photo:</p>
                    </div>
        
                    <div class="justify-content-center align-items-center mx-4">
                        <img class="image-groups" src="images/others/groups-nophoto.png" alt="Card image cap">
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="col-5">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row d-flex align-items-center">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h3 class="ticket-name-group1 subtittle-tickets">FRIENDS</h3>
                        </div>

                        <div class="col-1"></div>
                    

                        <!-- Buttons -->
                        <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0"> 
                            <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                                <i class="header-profilek login-icon-color fas fa-pen"></i> 
                            </a>
                        </div>
                    </div>

                    
                </div>
                
            </div>

            <!-- INFORMATION -->
            <div class="row">

                
                <div class="col-12">

                    <!-- Ticket Type -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row justify-content-center align-items-center mt-2">
                                <p class="subtittle-tickets">Add a friend</p>
                            </div>
                
                            <div class="row justify-content-center align-items-center mt-3">
                                {{>groups/group-searchbar}}
                            </div>

                        </div>
                    </div>

                    <br>

                    <!-- Date -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row justify-content-center align-items-center mt-2">
                                <p class="subtittle-tickets">Pending</p>
                            </div>
                
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center my-2">
                                                <p class="card-status ml-3">Paco</p>
                                            </div>

                                            <div class="col-1 d-flex align-items-center">
                                                <a class="ml-4" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                    <i class="header-profilek login-icon-color fas fa-times"></i> 
                                                </a>
                                            </div>

                                            <div class="col-1 d-flex align-items-center">
                                                <a class="ml-4" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                    <i class="header-profilek login-icon-color fas fa-check"></i> 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                    <div class="row">
                        <div class="col-12">
 
                            <div class="row justify-content-center align-items-center ml-3 mt-2">
                                <p class="subtittle-tickets">My friends</p>
                            </div>
                
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                        
                                        <div class="row">
                                            <div class="col-4 barra-lateral-profile" style="border-right: 4px solid #2e2e2e;">
                                                <p class="card-status ml-3">Alberto</p>
                                            </div>

                                            <div class="col-8">
                                                <p class="card-status ml-3">Alberto Limón Carmona</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-12">
                                    <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                        
                                        <div class="row">
                                            <div class="col-4 barra-lateral-profile" style="border-right: 4px solid #2e2e2e;">
                                                <p class="card-status ml-3">Diego</p>
                                            </div>

                                            <div class="col-8">
                                                <p class="card-status ml-3">Diego Fernandez del Álamo</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    
                </div>

            </div>
        </div>
    </div>
</div>