<div class="row">
    <div class="col-2"></div>

    <div class="col-5">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row d-flex align-items-center">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h3 class="ticket-name-group1 subtittle-tickets">PERSONAL</h3>
                        </div>

                        <div class="col-2"></div>

                        <!-- Buttons -->
                        <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0">
                            <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                                <i class="header-profilek login-icon-color fas fa-pen"></i>
                            </a>
                        </div>

                    </div>


                </div>

            </div>


            <!-- INFORMATION -->
            <div class="row">

                <div class="col-12 ">

                    <!-- Ticket Type -->
                    <div class="row">
                        <div class="col-12">


                            <div class="row">
                                <div class="col-12">

                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">First Name:</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-10">
                                            <div
                                                class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">{{firstName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">Last Name:</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-10">
                                            <div
                                                class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">{{lastName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">

                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">Nick Name:</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-10">
                                            <div
                                                class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">{{nickName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                    <br>

                </div>

            </div>

            <!-- Photo -->
            <div class="row">
                <div class="col-12">

                    <div class="row d-flex justify-content-center align-items-center mt-2">
                        <p class="subtittle-tickets">Photo:</p>
                    </div>

                    <div class="d-flex justify-content-center align-items-center mx-4">
                        <img class="image-groups" src="/acc/photo" alt="Card image cap"
                            style="width: 150px; height: 150px; border-radius: 50%; border: 1px solid #000;">
                    </div>

                </div>
            </div>
            <br>
            <br>

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <a href="/logout" class="btnnn btn-dark" value="Logout">Logout</a>
                </div>
            </div>
            <br>
        </div>
    </div>



    <div class="col-5">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row d-flex align-items-center">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h3 class="ticket-name-group1 subtittle-tickets">FRIENDS</h3>
                        </div>

                        <div class="col-1"></div>


                        <!-- Buttons -->
                        <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0">
                            <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                                <i class="header-profilek login-icon-color fas fa-pen"></i>
                            </a>
                        </div>
                    </div>


                </div>

            </div>

            <!-- INFORMATION -->
            <div class="row">


                <div class="col-12">

                    <!-- Add Friends -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row d-flex align-items-center mt-2 ml-4">
                                <p class="subtittle-tickets">Add a friend</p>
                            </div>

                            <div class="row justify-content-center align-items-center mt-3">
                                <div class="col-10">
                                    {{>groups/group-searchbar}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    <br>

                    <!-- My friends -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row ml-4 align-items-center mt-2">
                                <p class="subtittle-tickets">My friends</p>
                            </div>

                            <div id="moreMyFriends">

                                {{#isEmptyMyFriends}}
                                {{#moreMyFriends}}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card-ticket justify-content-center align-items-center mx-4 my-2">

                                            <div class="row">
                                                <div class="col-4 barra-lateral-profile"
                                                    style="border-right: 4px solid #2e2e2e;">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <img class="circular-img my-4"
                                                            src="/acc/photoFriend/{{nickName}}" alt="Card image cap"
                                                            style="width: 50px; height: 50px; border-radius: 50%; ">
                                                    </div>
                                                </div>

                                                <div class="col-8 d-flex justify-content-center align-items-center">
                                                    <p class="card-status">{{nickName}}</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                {{/moreMyFriends}}
                            </div>


                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div id="spinner1" class="lds-dual-ring hidden">
                                        <img src="/images/spinner.gif" alt="Loading..."
                                            style="width: 100px; height: 70px;" />
                                    </div>
                                </div>
                            </div>

                            {{^isLastPageMy}}
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <a id="btnMoreMyFriends" class="btnnnn btn-dark">More</a>
                                </div>
                            </div>
                            {{/isLastPageMy}}
                            {{/isEmptyMyFriends}}

                            {{^isEmptyMyFriends}}
                            <div class="row ">
                                <div class="col-12 ml-5 align-items-center">
                                    <p>No pending request!</p>
                                </div>
                            </div>
                            {{/isEmptyMyFriends}}

                        </div>
                    </div>

                    <br>
                    <br>

                    <!-- Pending Friends -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row ml-4 align-items-center mt-2">
                                <p class="subtittle-tickets">Pending friends</p>
                            </div>

                            {{#isEmptyPendingFriends}}
                            <div id="morePendingFriends">

                                
                                {{#morePendingFriends}}
                                <div class="row">
                                    <div class="col-12">
                                        <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                            <div class="row">
                                                <div class="col-8 d-flex align-items-center my-2">
                                                    <p class="card-status ml-3">{{nickName}}</p>
                                                </div>

                                                <div class="col-1"></div>
                                                <div class="col-1 d-flex align-items-center">
                                                    <a class="" href="/denyPendingFriend/{{nickName}}">
                                                        <i class="header-profilek login-icon-color fas fa-times"></i>
                                                    </a>
                                                </div>

                                                <div class="col-1 d-flex align-items-center">
                                                    <a class="mr-4" href="/aceptPendingFriend/{{nickName}}">
                                                        <i class="header-profilek login-icon-color fas fa-check"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {{/morePendingFriends}}
                            </div>
                            


                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div id="spinner2" class="lds-dual-ring hidden">
                                        <img src="/images/spinner.gif" alt="Loading..."
                                            style="width: 100px; height: 70px;" />
                                    </div>
                                </div>
                            </div>

                            {{^isLastPagePending}}
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <a id="btnMorePendingFriends" class="btnnnn btn-dark">More</a>
                                </div>
                            </div>
                            {{/isLastPagePending}}
                            {{/isEmptyPendingFriends}}

                            {{^isEmptyPendingFriends}}
                            <div class="row">
                                <div class="col-12 ml-5 align-items-center">
                                    <p>No pending request!</p>
                                </div>
                            </div>
                            {{/isEmptyPendingFriends}}

                        </div>
                    </div>

                    <br>
                    <br>


                    <!-- My Request -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row ml-4 align-items-center mt-2">
                                <p class="subtittle-tickets">Request friends</p>
                            </div>

                            {{#isEmptyRequestFriends}}
                            <div id="morePendingFriends">

                                
                                {{#moreRequestFriends}}
                                <div class="row d-flex justify-content-center align-items-center">
                                    <div class="col-10 ">
                                        <div class="card-ticket mx-4 my-2">
    
                                            <div class="row ">
                                                <div class="col-1 d-flex justify-content-center align-items-center barra-lateral-profile ml-3"
                                                    style="border-right: 4px solid #2e2e2e;">
    
                                                    <i class="header-profilek login-icon-color amarillolimon fas fa-clock"></i>
    
                                                </div>
    
                                                <div class="col-8 d-flex justify-content-center align-items-center">
                                                    <p class="card-status">{{nickName}}</p>
                                                </div>
                                            </div>
    
                                        </div>
                                    </div>
                                </div>
                                {{/moreRequestFriends}}
                            </div>
                            


                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <div id="spinner2" class="lds-dual-ring hidden">
                                        <img src="/images/spinner3.gif" alt="Loading..."
                                            style="width: 100px; height: 70px;" />
                                    </div>
                                </div>
                            </div>

                            {{^isLastPageRequest}}
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <a id="btnMorePendingFriends" class="btnnnn btn-dark">More</a>
                                </div>
                            </div>
                            {{/isLastPageRequest}}
                            {{/isEmptyRequestFriends}}

                            {{^isEmptyRequestFriends}}
                            <div class="row">
                                <div class="col-12 ml-5 align-items-center">
                                    <p>No request friends!</p>
                                </div>
                            </div>
                            {{/isEmptyRequestFriends}}

                        </div>
                    </div>

                    <br>

                </div>
            </div>
        </div>
    </div>
</div>