<div class="row">
    <div class="col-2"></div>
    
    <div class="col-5">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row d-flex align-items-center">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h3 class="ticket-name-group1 subtittle-tickets">PERSONAL</h3>
                        </div>

                        <div class="col-2"></div>
               
                        <!-- Buttons -->
                        <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0">
                            <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                                <i class="header-profilek login-icon-color fas fa-pen"></i> 
                            </a>
                        </div>
                        
                    </div>

                    
                </div>
                
            </div>


            <!-- INFORMATION -->
            <div class="row">

                <div class="col-12 ">

                    <!-- Ticket Type -->
                    <div class="row">
                        <div class="col-12">


                            <div class="row">
                                <div class="col-12">
        
                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">First Name:</p>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">{{firstName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
        
                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">Last Name:</p>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">{{lastName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
        
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-12">
        
                                    <div class="row align-items-center ml-3 mt-2">
                                        <p class="subtittle-tickets">Nick Name:</p>
                                    </div>
                        
                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                <p class="card-status ml-3">{{nickName}}</p>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>
        
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    
                </div>

            </div>

            <!-- Date -->
            <div class="row">
                <div class="col-12">

                    <div class="row d-flex justify-content-center align-items-center mt-2">
                        <p class="subtittle-tickets">Photo:</p>
                    </div>
        
                    <div class="d-flex justify-content-center align-items-center mx-4">
                        <img class="image-groups" src="/acc/photo" alt="Card image cap" style="width: 150px; height: 150px;">
                    </div>

                </div>
            </div>
            <br>
            <br>

            <div class="row d-flex justify-content-center align-items-center">
                <div class="col-12 d-flex justify-content-center align-items-center">
                    <a href="/logout" class="btnnn btn-dark" value="Logout">Logout</a>
                </div>
            </div>
            <br>
        </div>
    </div>



    <div class="col-5">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row d-flex align-items-center">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5">
                            <h3 class="ticket-name-group1 subtittle-tickets">FRIENDS</h3>
                        </div>

                        <div class="col-1"></div>
                    

                        <!-- Buttons -->
                        <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0"> 
                            <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                                <i class="header-profilek login-icon-color fas fa-pen"></i> 
                            </a>
                        </div>
                    </div>

                    
                </div>
                
            </div>

            <!-- INFORMATION -->
            <div class="row">

                
                <div class="col-12">

                    <!-- Add Friends -->
                    <div class="row">
                        <div class="col-12">

                            <div class="row d-flex align-items-center mt-2 ml-4">
                                <p class="subtittle-tickets">Add a friend</p>
                            </div>
                
                            <div class="row justify-content-center align-items-center mt-3">
                                <div class="col-10">
                                    {{>groups/group-searchbar}}
                                </div>
                            </div>

                        </div>
                    </div>

                    <br>
                    <br>

                    <!-- Pending friends -->
                    <div class="row">
                        <div class="col-12 ">

                            
                            <div class="row ml-4 align-items-center mt-2">
                                <p class="subtittle-tickets">Pending</p>
                            </div>

                            {{#pendingFriends}}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                        <div class="row">
                                            <div class="col-8 d-flex align-items-center my-2">
                                                <p class="card-status ml-3">{{nickName}}</p>
                                            </div>

                                            <div class="col-1 d-flex align-items-center">
                                                <a class="ml-4" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                    <i class="header-profilek login-icon-color fas fa-times"></i> 
                                                </a>
                                            </div>

                                            <div class="col-1 d-flex align-items-center">
                                                <a class="ml-4" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                                    <i class="header-profilek login-icon-color fas fa-check"></i> 
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{/pendingFriends}}

                            {{^pendingFriends}}
                            <div class="row ">
                                <div class="col-12 ml-5 align-items-center">
                                    <p>No pending request!</p>
                                </div>
                            </div>
                            {{/pendingFriends}}

                        </div>
                    </div>

                    <br>
                    <br>

                    <!-- My friends -->
                    <div class="row">
                        <div class="col-12">
 
                            <div class="row ml-4 align-items-center mt-2">
                                <p class="subtittle-tickets">My friends</p>
                            </div>
                
                            {{#myFriends}}
                            <div class="row">
                                <div class="col-12">
                                    <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                        
                                        <div class="row">
                                            <div class="col-4 barra-lateral-profile" style="border-right: 4px solid #2e2e2e;">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <img class="circular-img my-4" src="/acc/photoFriend/{{nickName}}" alt="Card image cap" style="width: 50px; height: 50px; border-radius: 50%; ">
                                                </div>
                                            </div>

                                            <div class="col-8 d-flex justify-content-center align-items-center">
                                                <p class="card-status">{{nickName}}</p>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {{/myFriends}}

                        </div>
                    </div>

                    <br>
                    
                </div>

            </div>
        </div>
    </div>
</div>