<br>

<div class="row">
    <div class="col-1"></div>

    <div class="col-7">

        <div class="container">

            <div class="card">

                <!-- TITTLE -->
                <div class="row">
                    <div class="col-12 barra-abajo ">
            
            
                        <div class="row d-flex align-items-center">
            
                            <!-- Tittle -->
                            <div class="col-4">
                                <h3 class="ticket-name-group1 subtittle-tickets">FINANCES</h3>
                            </div>
            
                            <div class="col-6"></div>
                        
            
                            <!-- Buttons -->
                            <div class="col-1 d-flex align-items-end my-3 ml-5 mr-0">
                                <a class="nav-link nav-linkkk circle-linkkk" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
                                    <i class="header-profilek login-icon-color fas fa-pen"></i> 
                                </a>
                            </div>
                        </div>
            
                        
                    </div>
                    
                </div>
            
                <!-- INFORMATION -->
                <div class="row">
            
                    
                    <!-------- 1º COL -------->
                    <div class="col-4 barra-lateral-peque">
                        <br>
            
                        <!-- Ticket Type -->
                        <div class="row">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Ticket Type:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <p class="card-status ml-3">El Gordo</p>
                                </div>
            
                            </div>
                        </div>
            
                        <br>
            
                        <!-- Date -->
                        <div class="row">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Date:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <p class="card-status ml-3">17/092024</p>
                                </div>
            
                            </div>
                        </div>
            
                        <br>
            
                        <!--div class="row ml-3 mt-2 mr-2">
                            <div class="col-12">
                                <p class="subtittle-tickets">You can fill up to 8 bets in the table below. A sum of each bet will be made, but it will not be shown which have been awarded.</p>
                            </div>
                        </div-->  
                        
                        <!--{{>ticket-type/loterianacional}}-->
                        
                    </div>
                    <!-------- END 1º COL -------->
            
            
            
            
            
            
                    <!-------- 2º COL -------->
                    <div class="col-4 barra-lateral-peque">
                        <br>
                        
                        <!-- Paid By -->
                        <div class="row">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Paid by:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <div class="row">
                                        <div class="col-6 barra-lateral-clarita">
                                            <p class="card-status ml-3">Paco</p>
                                        </div>
            
                                        <div class="col-6">
                                            <p class="card-status ml-3">- 1.50</p>
                                        </div>
                                    </div>
                                    
                                </div>
            
                            </div>
                        </div>
            
                        <br>
            
                        <!-- Status -->
                        <div class="row">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Status:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <p class="card-status ml-3">+ 127.8</p>
                                </div>
            
                            </div>
                        </div>
            
            
                        <br>
            
            
                        <!-- Benefit by participant -->
                        <div class="row">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Benefit by participant:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <div class="row barra-abajo-clarita">
                                        <div class="col-6 barra-lateral-clarita">
                                            <p class="card-status ml-3">Paco</p>
                                        </div>
            
                                        <div class="col-6">
                                            <p class="card-status ml-3">+ 15.50</p>
                                        </div>
                                    </div>
            
                                    <div class="row barra-abajo-clarita">
                                        <div class="col-6 barra-lateral-clarita">
                                            <p class="card-status ml-3">Alberto</p>
                                        </div>
            
                                        <div class="col-6">
                                            <p class="card-status ml-3">+ 65.50</p>
                                        </div>
                                    </div>
            
                                    <div class="row barra-abajo-clarita">
                                        <div class="col-6 barra-lateral-clarita">
                                            <p class="card-status ml-3">Diego</p>
                                        </div>
            
                                        <div class="col-6">
                                            <p class="card-status ml-3">+ 45.50</p>
                                        </div>
                                    </div>
                                    
                                </div>
            
                            </div>
                        </div>
            
                        <br>
            
                    </div>
                    <!-------- END 1º COL -------->
            
            
            
            
            
                    <!-------- 3º COL -------->
                    <div class="col-4 barra-lateral-peque">
                        <br>
                       
                        <!-- Claimed By -->
                        <div class="row barra-abajo pb-4">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Claimed by:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <p class="card-status ml-3">Paco</p>
                                </div>
            
                            </div>
                        </div>
            
            
                        <!-- X owes Y -->
                        <div class="row mt-2">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Paco owes Alberto:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <p class="card-status ml-3">42.93</p>
                                </div>
            
                            </div>
                        </div>
            
                        <div class="row mt-2">
                            <div class="col-12">
            
                                <div class="row align-items-center ml-3 mt-2">
                                    <p class="subtittle-tickets">Paco owes Diego:</p>
                                </div>
                    
                                <div class="card-ticket justify-content-center align-items-center mx-4">
                                    <p class="card-status ml-3">42.93</p>
                                </div>
            
                            </div>
                        </div>
            
                        <br>
                        
                        
                    </div>
                    <!-------- END 1º COL -------->
            
                </div>
            </div>
            
            
        </div>

        <br>
    </div>

    <div class="col-1 p-0"></div>



    <!------------------------->
    <!------- INDIVIDUAL ------>
    <!------------------------->
    <div class="col-3">
        <app-individual></app-individual>
    </div>

</div>

<br>
<br>