<div class="row">



    <div class="col-10">

        <!----- HEAD ----->
        <div class="row">
            <!-- Photo -->
            <div class="col-3 d-flex justify-content-start align-items-center" *ngIf="teamId>0">
                <img class="circular-img ml-3"
                src="/api/teams/{{this.teamId}}/image"
                alt="Card image cap"
                style="width: 50px; height: 50px; border-radius: 50%;">            
            </div>
            <div class="col-3 d-flex justify-content-start align-items-center" *ngIf="teamId<=0">
                <img class="circular-img ml-3"
                src="/api/accounts/image/current"
                alt="Card image cap"
                style="width: 50px; height: 50px; border-radius: 50%;">            
            </div>

            <!-- Name -->   
            <div class="col-6 d-flex align-items-center" *ngIf="teamId>0">
                <a href="/teams/{{this.teamId}}/tickets" class="ticket-name-group1" style="font-size:23px; font-weight: bold;">{{team.name}}</a>
            </div>
            <div class="col-6 d-flex align-items-center" *ngIf="teamId<=0">
                <a href="/profile" class="ticket-name-group1" style="font-size:23px; font-weight: bold;">{{this.authService.getUserNickName()}}</a>
            </div>

            <!-- Edit Button -->
            <div class="col-1 d-flex align-items-center" *ngIf="teamId>0">
                <a class="nav-link nav-linkkk circle-linkkk" href="/teams/{{this.teamId}}/edit">
                    <i class="header-profilek login-icon-color fas fa-pen"></i>
                </a>
            </div>
        </div>
        <!----- END HEAD ----->

        <br>


        <!----- RESUME ----->
        <div class="card">

            <!-- Tittle -->
            <div class="row">
                <div class="col-12 barra-abajo">
                    <h4 class="ticket-name-group1 profit-name-group1 m-2">RESUME</h4>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Total cost</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{formatSignedAmount(total.cost)}} €</p>
                </div>
            </div>

            <!-- Total Income -->
            <div class="row barra-abajo">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Total income</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{formatSignedAmount(total.income)}} €</p>
                </div>
            </div>

            <!-- Total Profit -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Total profit</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{formatSignedAmount(total.income+total.cost)}} €</p>
                </div>
            </div>

            <!-- Individual Profit -->
            <div class="row" *ngIf="teamId>0">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Individual profit</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{formatSignedAmount((total.income+total.cost)/accounts.length)}} €</p>
                </div>
            </div>
        </div>



        <br>


        <!-- TOTAL TICKETS -->
        <div class="card">

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Winning Tickets</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{total.winning}}</p>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Not Winning Tickets</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{total.nowinning}}</p>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Pending Tickets</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">{{total.pending}}</p>
                </div>
            </div>

        </div>
        <!----- END RESUME ----->


        <br>




        <!----- INDIVIDUAL RESUME ----->
        <!--div class="card"-->

            <!-- Tittle >
            <div class="row">
                <div class="col-12 barra-abajo">
                    <h4 class="ticket-name-group1 profit-name-group1 m-2">INDIVIDUAL RESUME</h4>
                </div>
            </div-->

            <!-- Total Cost >
            <div class="row">
                <div class="col-6 barra-lateral-peque barra-abajo">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Paco (me)</p>
                </div>

                <div class="col-6 barra-abajo">
                    <p class="ticket-name-group1 m-2">+ 13.57</p>
                </div>
            </div-->

            <!-- Total Income >
            <div class="row barra-abajo">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Alberto</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 subtittle-tickets m-2">+ 12.45</p>
                </div>
            </div-->

            <!-- Total Profit >
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Diego</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">- 2.06</p>
                </div>
            </div>
        </div-->
        <!----- ENDINDIVIDUAL RESUME ----->



        <br>


        <!-- PEOPLE OWES >
        <div class="card">

            <div class="row">
                <div class="col-8 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Diego owes Alberto 2.06 <i class="fas fa-euro-sign"></i></p>
                </div>

                <div class="col-4 d-flex justify-content-center align-items-center">
                    <a href="#" class="btn pay-color">
                        <i class="fas fa-credit-card mr-2"></i> Pay
                    </a>
                </div>
            </div>

        </div>

        <br-->
    </div>

    <div clas="col-2">

    
</div>