<div class="row">



    <div class="col-10">

        <!----- HEAD ----->
        <div class="row">
            <!-- Photo -->
            <div class="col-3 d-flex justify-content-start align-items-center">
                <img class="circular-img ml-3"
                src="http://localhost:4200/api/accounts/image?nickName=Alvarochi"
                alt="Card image cap"
                style="width: 50px; height: 50px; border-radius: 50%;">            
            </div>

            <!-- Name -->
            <div class="col-6 d-flex align-items-center">
                <h4 class="ticket-name-group1">URJC PlayGround</h4>
            </div>

            <!-- Edit Button -->
            <div class="col-1 d-flex align-items-center">
                <a class="nav-link nav-linkkk circle-linkkk" href="/editProfile">
                    <i class="header-profilek login-icon-color fas fa-pen"></i>
                </a>
            </div>
        </div>
        <!----- END HEAD ----->

        <br>


        <!----- RESUME ----->
        <div class="card">

            <!-- Tittle -->
            <div class="row">
                <div class="col-12 barra-abajo">
                    <h4 class="ticket-name-group1 profit-name-group1 m-2">RESUME</h4>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Total cost</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">+ 34.57</p>
                </div>
            </div>

            <!-- Total Income -->
            <div class="row barra-abajo">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Total income</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">- 8.19</p>
                </div>
            </div>

            <!-- Total Profit -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Total profit</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">+ 26.52</p>
                </div>
            </div>
        </div>



        <br>


        <!-- TOTAL TICKETS -->
        <div class="card">

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Winning Tickets</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">7</p>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Not Winning Tickets</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">3</p>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Pending Tickets</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">2</p>
                </div>
            </div>

        </div>
        <!----- END RESUME ----->


        <br>




        <!----- INDIVIDUAL RESUME ----->
        <div class="card">

            <!-- Tittle -->
            <div class="row">
                <div class="col-12 barra-abajo">
                    <h4 class="ticket-name-group1 profit-name-group1 m-2">INDIVIDUAL RESUME</h4>
                </div>
            </div>

            <!-- Total Cost -->
            <div class="row">
                <div class="col-6 barra-lateral-peque barra-abajo">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Paco (me)</p>
                </div>

                <div class="col-6 barra-abajo">
                    <p class="ticket-name-group1 m-2">+ 13.57</p>
                </div>
            </div>

            <!-- Total Income -->
            <div class="row barra-abajo">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Alberto</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 subtittle-tickets m-2">+ 12.45</p>
                </div>
            </div>

            <!-- Total Profit -->
            <div class="row">
                <div class="col-6 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Diego</p>
                </div>

                <div class="col-6">
                    <p class="ticket-name-group1 m-2">- 2.06</p>
                </div>
            </div>
        </div>
        <!----- ENDINDIVIDUAL RESUME ----->



        <br>


        <!-- PEOPLE OWES -->
        <div class="card">

            <div class="row">
                <div class="col-8 barra-lateral-peque">
                    <p class="ticket-name-group1 subtittle-tickets m-2">Diego owes Alberto 2.06 <i class="fas fa-euro-sign"></i></p>
                </div>

                <div class="col-4 d-flex justify-content-center align-items-center">
                    <a href="#" class="btn pay-color">
                        <i class="fas fa-credit-card mr-2"></i> Pay
                    </a>
                </div>
            </div>

        </div>

        <br>
    </div>

    <div clas="col-2">

    
</div>