{{#morePendingFriends}}
<div class="row" data-is-last-page="{{isLastPage}}">
    <div class="col-12">
        <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
            <div class="row">
                <div class="col-8 d-flex align-items-center my-2">
                    <p class="card-status ml-3">{{nickName}}</p>
                </div>

                <div class="col-1 d-flex align-items-center">
                    <a class="ml-4" href="/denyPendingFriend/{{nickName}}">
                        <i class="header-profilek login-icon-color fas fa-times"></i>
                    </a>
                </div>

                <div class="col-1 d-flex align-items-center">
                    <a class="ml-4" href="/aceptPendingFriend/{{nickName}}">
                        <i class="header-profilek login-icon-color fas fa-check"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/morePendingFriends}}