{{#moreDeleteFriends}}
<div class="row justify-content-center align-items-center mx-4 my-2" data-is-last-page="{{isLastPage}}">
    <div class="col-12">
        <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
            <div class="row">
                <div class="col-8 d-flex align-items-center my-2">
                    <p class="card-status ml-3">{{nickName}}</p>
                </div>

        
                
                <div class="col-1 d-flex align-items-center ml-4">
                    <a class="mr-4" href="/deleteFriend/{{nickName}}">
                        <i class="header-profilek login-icon-color fas fa-trash"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
{{/moreDeleteFriends}}