<!-- Numbers -->
<div class="row">
    <div class="col-12">

        <div class="row align-items-center ml-3 mt-2">
            <p class="subtittle-tickets">Numbers:</p>
        </div>

        <div class="row ml-3">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">23</p>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">07</p>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">42</p>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">13</p>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">05</p>
                </div>
            </div>

            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">31</p>
                </div>
            </div>
        </div>

    </div>
</div>

<br>


<!-- Key -->
<div class="row">
    <div class="col-12">

        <div class="row align-items-center ml-3 mt-2">
            <p class="subtittle-tickets">Reimbursement:</p>
        </div>

        <div class="row ml-3">
            <div class="col-2 d-flex justify-content-center align-items-center">
                <div class="card-ticket">
                    <p class="card-status mx-1">11</p>
                </div>
            </div>
        </div>

    </div>
</div>

<br>