<div class="row">
    <div class="col-6">

        <div class="row align-items-center ml-3 mt-2">
            <p class="subtittle-tickets">Number:</p>
        </div>

        <div class="card-ticket justify-content-center align-items-center mx-4">
            <input type="text" class="input-status" value="51225">
        </div>

    </div>

    <div class="col-6">

        <div class="row align-items-center ml-3 mt-2">
            <p class="subtittle-tickets">Euros:</p>
        </div>

        <div class="card-ticket justify-content-center align-items-center mx-4">
            <input type="text" class="input-status" value="20">
        </div>

    </div>
</div>

<br>

<div class="row">
    <div class="col-6">

        <div class="row align-items-center ml-3 mt-2">
            <p class="subtittle-tickets">Series:</p>
        </div>

        <div class="card-ticket justify-content-center align-items-center mx-4">
            <input type="text" class="input-status" value="2">
        </div>

    </div>

    <div class="col-6">

        <div class="row align-items-center ml-3 mt-2">
            <p class="subtittle-tickets">Fraction:</p>
        </div>

        <div class="card-ticket justify-content-center align-items-center mx-4">
            <input type="text" class="input-status" value="1">
        </div>

    </div>
</div>

<br>