<!-- ONE GROUP -->
<div class="row"> 
    <div class="col-1"></div>

    <!-- Gruop -->
    <div class="col-10">
      <div class="card">
        <div class="row align-items-center">
          
          <!-- Photo -->
          <div class="col-3 barra-lateral">
            <img class="image-groups" src="images/others/groups-nophoto.png" alt="Card image cap">
          </div>

          <!-- Information -->
          <div class="col-8 justify-content-center">
            <div class="row">
              
              <!-- Group name -->
              <div class="col-8 d-flex justify-content-center align-items-center">
                <h3 class="name-groups">The Cocktail Gambit</h3>
              </div>
              
              <!-- Group price -->
              <div class="col-4">
                <div class="card card-price d-flex justify-content-center align-items-center">
                  <p class="caddprice">- 7.38</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- Button trash -->
    <div class="col-1 d-flex align-items-center">
      <a class="nav-link nav-linkk circle-linkk" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab" aria-controls="pills-profile" aria-selected="false">
        <i class="header-profile login-icon-color fas fa-trash"></i> 
      </a>
    </div>
    
</div>
<!-- END ONE GROUP -->