<div class="col-12">

    <div class="card" style="margin-left: 10rem; margin-right: 10rem;">


        <div class="row mt-4 barra-abajo">
            <div class="col-2"></div>
            <div class="col-8">

                <div class="row d-flex justify-content-center">
                    <h5 class="ticket-name-group1 mx-1"><i class="fa-solid fa-dice"></i></h5>
                    <h5 class="ticket-name-group1 ml-2"><b>Bet Info</b></h5>
                </div>
            </div>
            <div class="col-2"></div>

            <br>
            <br>
        </div>

        <br>

        

        <div class="row">

            <div class="col-2"></div>
            <div class="col-8">

                <div class="row align-items-center">
                    <p class="subtittle-tickets">Numbers:</p>
                </div>

                <div class="row">

                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.num1}}</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.num2}}</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.num3}}</p>
                        </div>
                    </div>

                </div>

                <br>

                <div class="row">

                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.num4}}</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.num5}}</p>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.num6}}</p>
                        </div>
                    </div>

                </div>

                <br>
                <br>

                <div class="row align-items-center">
                    <p class="subtittle-tickets">Dream:</p>
                </div>

                <div class="row">
                    <div class="col-4">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0">
                            <p class="card-status m-0">{{this.dream}}</p>
                        </div>
                    </div>
                </div>  
            </div>
            <div class="col-2"></div>

        </div>

        <br>
        <br>

    </div>
</div>