<div class="col-12">

    <div class="card" style="margin-left: 10rem; margin-right: 10rem;">


        <div class="row mt-4 barra-abajo">
            <div class="col-2"></div>
            <div class="col-8">

                <div class="row d-flex justify-content-center">
                    <h5 class="ticket-name-group1 mx-1"><i class="fa-solid fa-dice"></i></h5>
                    <h5 class="ticket-name-group1 ml-2"><b>Bet Info</b></h5>
                </div>
            </div>
            <div class="col-2"></div>

            <br>
            <br>
        </div>

        <br>

        

        <div class="row">

            <div class="col-1"></div>
            <div class="col-5">

                <div class="row align-items-center">
                    <div class="col-3"></div>
                    <div class="col-8">
                        <p class="subtittle-tickets">Numbers:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-8">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0 ml-3">
                            <p class="card-status m-0">{{this.number}}</p>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="row align-items-center">
                    <div class="col-3"></div>
                    <div class="col-8">
                        <p class="subtittle-tickets">Cost:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-8">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0 ml-3">
                            <p class="card-status m-0">{{this.euros}} €</p>
                        </div>
                    </div>
                </div>
            </div>

        

            <div class="col-5">
                <div class="row align-items-center">
                    <div class="col-1"></div>
                    <div class="col-6">
                        <p class="subtittle-tickets">Series:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0 ml-3">
                            <p class="card-status m-0">{{this.series}}</p>
                        </div>
                    </div>
                </div>

                <br>
                <br>

                <div class="row align-items-center">
                    <div class="col-1"></div>
                    <div class="col-6">
                        <p class="subtittle-tickets">Fraction:</p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-1"></div>
                    <div class="col-8">
                        <div class="card-ticket d-flex justify-content-center align-items-center m-0 ml-3">
                            <p class="card-status m-0">{{this.fraction}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-1"></div>

        </div>

        <br>
        <br>

    </div>
</div>