<!-- TOTAL COUNTS -->
<div class="card">

    <!-- Tittle -->
    <div class="row">
        <div class="col-12 barra-abajo">
        <h4 class="ticket-name-group1 profit-name-group1 m-2">INDIVIDUAL RESUME</h4>
        </div>
    </div>

    <!-- Total Cost -->
    <div class="row">
        <div class="col-6 barra-lateral-peque barra-abajo">
        <p class="ticket-name-group1 m-2">Paco (me)</p>
        </div>

        <div class="col-6 barra-abajo">
        <p class="ticket-name-group1 m-2">+ 13.57</p>
        </div>
    </div>

    <!-- Total Income -->
    <div class="row barra-abajo">
        <div class="col-6 barra-lateral-peque">
        <p class="ticket-name-group1 m-2">Alberto</p>
        </div>

        <div class="col-6">
        <p class="ticket-name-group1 m-2">+ 12.45</p>
        </div>
    </div>

    <!-- Total Profit -->
    <div class="row">
        <div class="col-6 barra-lateral-peque">
        <p class="ticket-name-group1 m-2">Diego</p>
        </div>

        <div class="col-6">
        <p class="ticket-name-group1 m-2">- 2.06</p>
        </div>
    </div>
</div>



<br>


<!-- PEOPLE OWES -->
<div class="card">

<div class="row">
    <div class="col-8 barra-lateral-peque">
    <p class="ticket-name-group1 m-2">Diego owes Alberto 2.06 €</p>
    </div>

    <div class="col-4 d-flex justify-content-center align-items-center">
    <a href="#" class="btn pay-color">
        <i class="fas fa-credit-card mr-2"></i> Pay
    </a>
    </div>
</div>

</div>

<br>