<div class="row ml-5">

    <div class="col-8">

        <!------------------------->
        <!------- SEARCH BAR ------>
        <!------------------------->

        <div class="container">

            <div class="row">
                <!-- Botón New Ticket -->
                <div class="col-6 d-flex justify-content-end align-items-center m-0">
                    <button (click)="newTicket()" class="btnnn btn-dark" style="border-radius: 4px;">
                        Add <i class="fas fa-ticket ml-2"></i>
                    </button>
                </div>

                <div class="col-6 d-flex justify-content-start align-items-center m-0">
                    <button (click)="toggleFilters()" class="btnnn btn-dark" style="border-radius: 4px;">
                        Filter <i class="fas fa-filter ml-2"></i>
                    </button>
                </div>
            </div>

            

            <div *ngIf="showFilters" class="row d-flex justify-content-center align-items-center">  
                
                <br>
                <br>
                
                <div class="col-2 d-flex justify-content-end align-items-center m-0">
                    <p style="color:#706d6d;" class="m-0">Filter by: </p>
                </div>
        
                <!-- Filtros -->
                <div class="col-6 d-flex justify-content-start align-items-center">
                    <form>
                        <div class="row">
        
                            <!-- Filtro de Fecha -->
                            <div class="col-5 d-flex justify-content-center align-items-center">
                                <input type="date" class="form-control" [(ngModel)]="selectedDate" name="selectedDate"
                                    (ngModelChange)="applyFilters()" style="border-radius:8px; border: 1px solid #232323; background-color: #131313;">
                            </div>
        
                            <!-- Filtro de Tipo de Ticket -->
                            <div class="col-5 d-flex justify-content-st align-items-center">
                                <select class="form-control" [(ngModel)]="selectedTicketType" name="ticketType"
                                    (ngModelChange)="applyFilters()" style="border-radius:8px; border: 1px solid #232323; background-color: #131313;">
                                    <option value="">All Types</option>
                                    <option *ngFor="let type of ticketTypes" [value]="type">
                                        {{ type }}
                                    </option>
                                </select>
                            </div>
        
                            <!-- Botón borrar filtros -->
                            <div class="col-2 d-flex justify-content-start align-items-center">
                                <button type="button" (click)="deleteFilters()" class="k nav-linkkklk circle-linkkk"
                                    style="color: rgb(112, 112, 112); border: 1.5px solid rgb(112, 112, 112); border-radius:50%;">
                                    <i class="fas fa-trash"></i>
                                </button>
                            </div>
        
                        </div>
                    </form>
                </div>

              
        
            </div>
  
        </div>
          
        <br>

        <!-------------------->
        <!------- TEAMS ------>
        <!-------------------->

        <div class="container">

            <!-- My friends -->
            <div class="row">
                <div class="col-12">


                    <!-- SPINNER LOADIN-->
                    <div *ngIf="isLoding; else name">
                        <div class="row" >
                            <div class="col-12 d-flex justify-content-center align-items-center my-5">
                                <div class="spinner-border text-light" role="status">
                                    <img src="assets/others/loading_duckzoro.gif" alt="Loading..." style="width: 150px; height: 90px;" />
                                    <!--img src="assets/others/loading_dance.gif" alt="Loading..." style="width: 280px; height: 290px;" /-->
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- DATA -->
                    <ng-template #name>
                        <div id="moreTickets" *ngIf="!this.isTicketsEmpty()">

                            <div class="row" *ngFor="let ticket of tickets">
                                <div class="col-12">

                                    <!------ REIMBURSEMENT TICKET ------>
                                    <div class="row" *ngIf="ticket.statusName=='Reimbursement'; else elseStatusName">

                                        <div *ngIf="show">

                                            <div class="col-2"></div>

                                            <div class="col-8">
                                                <div class="card">
                                                    <div class="row">
                                                        <div class="col-10 d-flex justify-content-center align-items-center">
                                                            <div class="col-1"></div>
                                                            <div class="col-1">
                                                                <i class="fa-solid fa-money-bill-transfer"
                                                                    style="color: rgb(92, 159, 99);"></i>
                                                            </div>

                                                            <div
                                                                class="col-10 d-flex justify-content-center align-items-center my-3">
                                                                <p class="m-0"
                                                                    style="color: rgb(170, 170, 170); font-size: 15px;">
                                                                    {{ticket.paidByName}} has made a reimbursement to
                                                                    {{ticket.claimedBy}} of {{formatSignedAmountReimbursement(ticket.statusPrice)}} € </p>
                                                            </div>

                                                        </div>

                                                        

                                                    </div>
                                                </div>
                                            </div>

                                        </div>


                                    </div>

                                    <div class="mb-1">
                                        <br>
                                    </div>

                                    <!------ STANDART TICKET ------>
                                    <ng-template #elseStatusName>

                                        <div class="row">
                                            <div class="col-1"></div>

                                            <!-- Gruop -->
                                            <div class="col-10">
                                                <a class="card"
                                                    [routerLink]="['/teams', this.teamId, 'tickets', ticket.id]">
                                                    <div class="row">

                                                        <div
                                                            class="col-1 d-flex align-items-center justify-content-center p-0 m-0">
                                                            <i class="fa-solid fa-ticket m-0 p-0 ml-4"
                                                                style="color: rgb(92, 140, 159);"></i>
                                                        </div>

                                                        <!-- Photo -->
                                                        <div
                                                            class="col-2 d-flex align-items-center justify-content-center barra-lateral p-0 m-0">
                                                            <h5 class="name-groups m-0 p-0 mr-4">{{ticket.date}}</h5>
                                                        </div>

                                                        <!-- Information -->
                                                        <div class="col-9 m-0">
                                                            <div class="row">


                                                                <div
                                                                    class="col-3 d-flex align-items-center justify-content-center">
                                                                    <h5 class="name-groups m-0">{{ticket.type}}</h5>
                                                                </div>

                                                                <div class="col-3 my-3">
                                                                    <div class="row">
                                                                        <div
                                                                            class="col-12 d-flex align-items-center justify-content-center">
                                                                            <p class="m-0"
                                                                                style="color: rgb(112, 112, 112); font-size: 13.5px;">
                                                                                Status:</p>
                                                                        </div>
                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-12 d-flex align-items-center justify-content-center">
                                                                            <h5 class="name-groups m-0" *ngIf="ticket.statusName==='Winning'">{{formatSignedAmount(ticket.statusPrice)}}</h5>
                                                                            <h5 class="name-groups m-0" *ngIf="ticket.statusName==='Not Winning'">{{formatSignedAmount(ticket.statusPrice)}}</h5>
                                                                            <h5 class="name-groups m-0" *ngIf="ticket.statusName!='Winning' && ticket.statusName!='Not Winning'">{{formatSignedAmount(ticket.statusPrice)}}</h5>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="col-1"></div>

                                                                <!-- Group price -->
                                                                <div class="col-5 ">
                                                                    <div class="card card-price m-4">

                                                                        <div
                                                                            class="row d-flex align-items-center justify-content-center m-2">
                                                                            <div class="col-3"
                                                                                *ngIf="ticket?.statusName==='Winning'">
                                                                                <i
                                                                                    class="login-icon-color fas fa-trophy"></i>
                                                                            </div>
                                                                            <div class="col-3"
                                                                                *ngIf="ticket?.statusName==='Not Winning'">
                                                                                <i class="login-icon-color fa-solid fa-ban"
                                                                                    style="color: rgb(112, 112, 112); font-size: 13.5px;"></i>
                                                                            </div>
                                                                            <div class="col-3"
                                                                                *ngIf="ticket?.statusName==='Pending'">
                                                                                <i class="login-icon-color fa-solid fa-hourglass-half"
                                                                                    style="color: rgb(112, 112, 112); font-size: 13.5px;"></i>
                                                                            </div>
                                                                            <div class="col-9">
                                                                                <p class="caddprice mb-0">
                                                                                    {{ticket.statusName}}</p>
                                                                            </div>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>

                                                    </div>
                                                </a>

                                            </div>

                                        </div>
                                    </ng-template>

                                </div>
                            </div>

                            <div class="row d-flex justify-content-center align-items-center"
                                *ngIf="!this.isLastTicketsRequest">
                                <div class="col-12 d-flex justify-content-center align-items-center">
                                    <a class="btnnnn btn-dark" (click)="getMoreTickets()">More</a>
                                </div>
                            </div>
                        </div>
                

                        <div class="row" *ngIf="this.isTicketsEmpty()">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <p style="color: rgb(112, 112, 112); font-size: 13.5px;">No tickets yet!</p>
                            </div>
                        </div>
                    </ng-template>

                </div>
            </div>

        </div>

        <br>
    </div>




    <!------------------------->
    <!------- INDIVIDUAL ------>
    <!------------------------->
    <div class="col-4">
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10">
                <app-individual></app-individual>
            </div>
        </div>
    </div>

</div>

<br>
<br>