<br>

<div class="row">
    <div class="col-2"></div>

    <div class="col-4">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo">


                    <div class="row ">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-6 mt-3 d-flex justify-content-center align-items-center">
                            <h3 class="ticket-name-group1 subtittle-tickets">TEAM DETAILS</h3>
                        </div>
                        <div class="col-4"></div>

                    </div>


                </div>

            </div>




            <!-- INFORMATION -->
            <div class="row">

                <div class="col-1"></div>

                <div class="col-11">

                    <!-- Ticket Type -->
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">

                            <br>
                            <br>

                            <div class="row">
                                <div class="col-12">

                                    <div class="row align-items-center">
                                        <p class="subtittle-tickets">Name:</p>
                                    </div>

                                    <div class="row">
                                        <div class="col-10">
                                            <div class="card-ticket justify-content-center align-items-center">
                                                <input id="teamNameInput" type="text" class="form-control ml-3" [(ngModel)]="name"/>
                                            </div>
                                        </div>
                                        <div class="col-2"></div>
                                    </div>

                                </div>
                            </div>
                            

                        </div>
                        <div class="col-1"></div>
                    </div>

                    <br>

                </div>

            </div>
            <br>


            <!-- Photo -->
            <div class="row">
                <div class="col-12">

                    <!-- Título -->
                    <div class="row d-flex justify-content-center align-items-center mt-2">
                        <p class="subtittle-tickets">Photo:</p>
                    </div>

                    <!-- Input de archivo -->
                    <div class="row d-flex justify-content-center align-items-center">
                        <div class="col-8">

                            <div class="input-group justify-content-start">
                                <input type="file" id="profilePicture" class="form-control custom-file-input justify-content-start" name="profilePicture" (change)="onFileSelected($event)">
                                <label for="profilePicture" class="btn-outline-secondary custom-file-label ">
                                    <i class="fas fa-upload ml-1"></i> {{ selectedFileName || 'No file selected' }}
                                </label>
                            </div>
                        </div>
                    </div>

                    <br>

                    <!-- Imagen actual o preview -->
                    <div class="row d-flex justify-content-center align-items-center mx-4" *ngIf="imagePreview!=null">
                        <img [src]="imagePreview" alt="Profile photo"
                            class="image-groups"
                            style="width: 150px; height: 150px; border-radius: 50%; border: 1px solid #000;" />
                    </div>

                    
                  

                </div>
            </div>

            <br>
            <br>

        </div>
    </div>



    <div class="col-4">
        <div class="card">

            <!-- TITTLE -->
            <div class="row">
                <div class="col-12 barra-abajo ">


                    <div class="row ">

                        <!-- Tittle -->
                        <div class="col-1"></div>
                        <div class="col-5 mt-3 d-flex justify-content-center align-items-center">
                            <h3 class="ticket-name-group1 subtittle-tickets">ACCOUNTS</h3>
                        </div>
                        <div class="col-2"></div>

                        <!-- Buttons -->
                        <div class="col-2 d-flex justify-content-end align-items-center mr-0 pr-0">
                            <a class="nav-link nav-linkkk circle-linkkk" href="/teams">
                                <i class="header-profilek login-icon-color fas fa-times"></i>
                            </a>
                        </div>

                        <div class="col-2 d-flex justify-content-strat align-items-center">
                            <a class="nav-link nav-linkkk circle-linkkk" (click)="this.saveData()">
                                <i class="header-profilek login-icon-color fas fa-check"></i>
                            </a>
                        </div>

                    </div>


                </div>

            </div>

            <br>
            <br>

            <!----- FRIENDS ----->
            <div class="row">

                <div class="col-1"></div>

                <div class="col-10">

                    <!-- Add Friends -->
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">

                            <div class="row d-flex align-items-center">
                                <p class="subtittle-tickets">Add a friend</p>
                            </div>

                            <div class="row justify-content-center align-items-center">
                                <div class="col-10">

                                    <!-- Formulario -->
                                    <form id="loginForm" (ngSubmit)="searchFriend(searchTerm)" method="get">
                                        <div class="row">
                                            <div class="col-12">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <button class="btn-background btn btn-outline-secondary"
                                                            type="submit">
                                                            <i class="login-icon-color fas fa-search"></i>
                                                        </button>
                                                    </div>
                                                    <input name="stringToFind" id="stringToFind" type="text"
                                                        class="form-control-funcionapls form-control"
                                                        placeholder="Find by name" name="searchTerm"
                                                        [(ngModel)]="searchTerm">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row" *ngIf="searching">
                                            <div class="col-12 mt-2">
                                                
                                                <div class="row justify-content-center align-items-center mx-2" *ngIf="isEmptySearchAccounts">
                                                    <p class="" style="color:#dc3545;">No results</p>
                                                </div>

                                                <div *ngIf="!isEmptySearchAccounts">
                                                  
                                                    <div class="row" *ngFor="let account of searchAccounts">
                                                        <div class="col-12">
                                                            <div class="card-ticket justify-content-center align-items-center mx-4 my-2">
                                                                <div class="row">
                                                                    
                                                                    <div class="col-9 d-flex align-items-center">
                                                                        <p class="card-status ml-3 mb-0 my-2">{{account}}</p>
                                                                    </div>

                                                                    <div name="addFriendToTeam" class="col-1 d-flex align-items-center">
                                                                        <a id="add-friend" (click)="this.addFriendToTeam(account)">
                                                                            <i class="header-profilek login-icon-color fas fa-user-plus"></i>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                            </div>
                                        </div>
                                    </form>

                                </div>
                            </div>

                        </div>
                        <div class="col-1"></div>
                    </div>

                    <br>
                    <br>
                    <br>

                    <!-- My friends -->
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">

                            <div class="row align-items-center">
                                <p class="subtittle-tickets">Friends added at the moment:</p>
                            </div>

                            <div id="moreMyFriends" *ngIf="!this.isMyFriendsEmpty()">

                                <div class="row" *ngFor="let friendTeam of friendsTeam">
                                    <div class="col-12">
                                        <div class="card-ticket justify-content-center align-items-center my-2">

                                            <div class="row">
                                                <div class="col-4 barra-lateral-profile"
                                                    style="border-right: 4px solid #2e2e2e;">
                                                    <div class="d-flex justify-content-center align-items-center">
                                                        <img class="circular-img my-4"
                                                            [src]="'/api/accounts/image?nickName=' + friendTeam"
                                                            alt="Card image cap"
                                                            style="width: 50px; height: 50px; border-radius: 50%;">

                                                    </div>
                                                </div>

                                                <div
                                                    class="col-5 d-flex justify-content-center align-items-center mt-3">
                                                    <p class="card-status">{{friendTeam}}</p>
                                                </div>

                                                <div class="col-3 d-flex align-items-center justify-content-center">
                                                    <a (click)="deleteFriendTeam(friendTeam)">
                                                        <i class="header-profilek login-icon-color fas fa-trash"></i>
                                                    </a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row " *ngIf="this.isMyFriendsEmpty()">
                                <div class="col-12 align-items-center">
                                    <p style="color: rgb(112, 112, 112); font-size: 13.5px;">No friends yet!</p>
                                </div>
                            </div>

                            <br>
                            <br>

                        </div>
                        <div class="col-1"></div>
                    </div>

                </div>

                <div class="col-1"></div>

            </div>
        </div>
    </div>

    <div class="col-2 p-0"></div>

    <br>
    <br>
    <br>

</div>