<br>

<div class="row">
    <div class="col-1"></div>

    <div class="col-7">

        <!------------------------->
        <!------- SEARCH BAR ------>
        <!------------------------->

        <div class="container">

            <div class="row">

                <div class="col-1"></div>

                <!-- Button new group -->
                <div class="col-2 d-flex justify-content-end align-items-start">
                    <a [href]="'/teams/newteam'" class="btnnn btn-dark" value="Logout">New Team</a>
                </div>


                <!-- Formulario -->
                <div class="col-7">

                    <form id="loginForm" (ngSubmit)="searchTeam(searchTerm)" method="get">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <button class="btn-background btn btn-outline-secondary" type="submit">
                                            <i class="login-icon-color fas fa-search"></i>
                                        </button>
                                    </div>
                                    <input name="stringToFind" id="stringToFind" type="text"
                                        class="form-control-funcionapls form-control" placeholder="Find by name"
                                        name="searchTerm" [(ngModel)]="searchTerm">
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="searching">
                            <div class="col-12 mt-2">

                                <div class="row justify-content-center align-items-center mx-2"
                                    *ngIf="isEmptySearchTeams">
                                    <p class="" style="color:#dc3545;">No results</p>
                                </div>

                                <div *ngIf="!isEmptySearchTeams">

                                    <div class="row" *ngFor="let team of searchTeams">
                                        <div class="col-12">
                                            <a class="card-ticket justify-content-center align-items-center mx-4 my-2" style="cursor: pointer !important;" [routerLink]="['/teams', team.id]">
                                                <div class="row">
                                                    <div class="col-12 d-flex align-items-center">
                                                        <p class="card-status ml-3 mb-0 my-2">{{team.name}}</p>
                                                    </div>
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="col-2"></div>
            </div>
        </div>



        <br>
        <br>


        <!--------------------->
        <!------- GRUOPS ------>
        <!--------------------->

        <div class="container">

            <!-- My friends -->
            <div class="row">
                <div class="col-12">

                    <div id="moreMyFriends" *ngIf="!this.isTeamsEmpty()">

                        <div class="row" *ngFor="let team of teams">
                            <div class="col-12">


                                <div class="row">
                                    <div class="col-1"></div>

                                    <!-- Gruop -->
                                    <div class="col-10">
                                        <div class="card" (click)="goToTeam(team.id)">
                                            <div class="row align-items-center">

                                                <!-- Photo -->
                                                <div class="col-3 d-flex justify-content-center align-items-center barra-lateral">
                                                    <img class="circular-img my-3" src="/api/teams/{{team.id}}/image" alt="Card image cap" style="width: 100px; height: 100px; border-radius: 50%;">
                                                </div>

                                                <div class="col-1"></div>

                                                <!-- Information -->
                                                <div class="col-6 justify-content-start">
                                                    <div class="row">

                                                        <!-- Group name -->
                                                        <div class="col-8 d-flex justify-content-start align-items-center">
                                                            <h3 class="name-groups">{{team.name}}</h3>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                        <br>

                                    </div>
                                    

                                </div>

                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" *ngIf="!this.isLastTeamsRequest">
                            <div class="col-12 d-flex justify-content-center align-items-center">
                                <a class="btnnnn btn-dark" (click)="getMoreTeams()">More</a>
                            </div>
                        </div>
                    </div>

                    

                    <div class="row" *ngIf="this.isTeamsEmpty()">
                        <div class="col-12 d-flex justify-content-center align-items-center">
                            <p style="color: rgb(112, 112, 112); font-size: 13.5px;">No teams yet!</p>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <br>
    </div>

    <div class="col-1 p-0"></div>



    <!------------------------->
    <!------- INDIVIDUAL ------>
    <!------------------------->
    <div class="col-3">
        <app-individual></app-individual>
    </div>

</div>

<br>
<br>