<div class="popup">

  <div class="col-12">
    <p class="mt-2 my-4" style="white-space: pre-line;">{{ data }}</p>
  </div>

  <div mat-dialog-actions>

    <div class="col-6 d-flex justify-content-center align-items-center">
      <button [mat-dialog-close]="'delete'" class="btnnnn btn-dark">Delete</button>
    </div>

    <div class="col-6 d-flex justify-content-center align-items-center">
      <button [mat-dialog-close]="'cancel'" class="btnnnn btn-dark">Close</button>
    </div>

  </div>

</div>