<!--  ########## HEADER ##########  -->

<!-- Preloader -->
<div id="preloader">
    <div class="jumper">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>


<!-- Header -->
<header class="header">

    <div class="row">

        <!-- MAIN ICON -->
        <div class="col-3">
            <img class="header-logo" src="images/header/header-logo.png"/>
        </div>


        <!-- MIDLE OPTIONS -->
        <div class="col-6 d-flex justify-content-center align-items-center">
            {{#logged}}
            <ul class="nav nav-pills mb-3 nav-pills-font" id="pills-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" href="/groups" aria-selected="true">Groups</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/personal" aria-selected="false">Personal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/stats" aria-selected="false">Stats</a>
                </li>
            </ul>
            {{/logged}}
        </div>


        <!-- INITIAL OPTIONS -->
        <div class="col-3 d-flex justify-content-end align-items-center">
            <ul class="nav nav-pills mb-2 nav-pills-font" id="pills-tab" role="tablist">
                {{^logged}}
                <li class="nav-item">
                    <a class="nav-link" href="/signup" aria-selected="true">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/login" aria-selected="false">Login</a>
                </li-->
                {{/logged}}

                {{#logged}}
                <!-- Profile-->
                <li class="nav-item">
                    <a class="nav-link circle-link" href="/profile" aria-controls="pills-profile" aria-selected="false">
                        <i class="header-profile login-icon-color fas fa-user"></i> 
                        {{#hasNotification}}
                        <i class="notification-icon fas fa-bell fa-bounce"></i> 
                        {{/hasNotification}}
                    </a>
                </li>
                {{/logged}}
            </ul>
        </div>
    </div>


    <div class="hr-yellow">
        <hr>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const currentPath = window.location.pathname;
            const navLinks = document.querySelectorAll(".nav-link");
    
            navLinks.forEach(link => {
                if (link.getAttribute("href") === currentPath ||
                    (link.getAttribute("href") === "/profile" && currentPath === "/editProfile") ||
                    (link.getAttribute("href") === "/searchAccounts" && currentPath.startsWith("/searchAccounts")) ||
                    (link.getAttribute("href") === "/otraRuta" && currentPath.startsWith("/otraRuta"))) {
                    link.setAttribute("aria-selected", "true");
                    
                    link.classList.add("active");
                } else {
                    link.setAttribute("aria-selected", "false");
                    link.classList.remove("active");
                }
            });
        });
    </script>
    

</header>
