<!DOCTYPE html>
<html lang="en">
    
    {{>components/head}}

    <body>
      {{>components/header}}

      <section>
        <div class="container">

          {{>groups/groups-search-bar}}
          
        </div>


        <br>


        <!------- GRUOPS ------>
        <div class="container">
          
          {{>groups/groups-group-card}}

          <br>

          {{>groups/groups-group-card}}

        </div>

        <br>


        <!------- BUTON MORE ------>
        <div class="container">
          
          <div class="row"> 

            <div class="col-12 d-flex justify-content-center align-items-center">
              <input type="submit" class="btnnn btn-dark" value="More">
            </div>

          </div>
        </div>

      </section>

      <br>
      <br>
      
      {{>components/footer}}
    </body>

</html>