<!DOCTYPE html>
<html lang="en">
    
    {{>components/head}}

    <body>
      {{>components/header}}

      <section>

        <!------- SEARCH BAR ------>
        <div class="container">

          {{>groups-one/groups-one-search-bar}}

        <br>
        <!------- END SEARCH BAR ------>


        <!------- TICKETS ------>
        <div class="container-fluid mx-1">     
          <div class="row mx-1">

            <!-- COL TICKETS -->
            <div class="col-7">   
              
              {{>groups-one/groups-one-ticket}}

              <br>


              {{>groups-one/groups-one-ticket}}


              <br>

              {{>groups-one/groups-one-ticket}}

              <br>


              <!-- Button more -->
              <div class="row"> 

                <div class="col-12 d-flex justify-content-center align-items-center">
                  <input type="submit" class="btnnn btn-dark" value="More">
                </div>

              </div>


            </div>
            <!-- END COL TICKETS -->


            <div class="col-1"></div>


            <!-- COL RESUME -->
            <div class="col-3">

              <div class="row m-2">

                {{>groups-one/groups-one-resume}}

                <!-- Button individual -->
                <div class="row"> 
                  <div class="col-12 d-flex justify-content-center align-items-center">
                    <input type="submit" class="btnnn btn-dark" value="Individual">
                  </div>
                </div>

                {{>groups-one/groups-one-individual}}

              </div>

            </div>

          </div>
            
        </div>
        <!------- END TICKETS ------>

      </section>

      <br>
      <br>

      {{>components/footer}}
    </body>

</html>