<!DOCTYPE html>
<html lang="en">

{{>components/head}}

<body>
  {{>components/header}}

  <section>


    <!------- GRUOPS ------>
    <div class="container-fluid">

      <div class="row justify-content-center align-items-center">

        <div class="col-5">
          <div class="card">

            <div class="row">
              <div class="col-12 barra-abajo ">

                <div class="row d-flex align-items-center my-2">
                  <div class="col-12">
                    <h3 class="ticket-name-group1 subtittle-tickets">Tickets</h3>
                  </div>
                </div>

              </div>
            </div>

            <div class="row">
              <div class="col-12 barra-abajo ">
                <p>Stat</p>
              </div>
            </div>

          </div>
        </div>








        <div class="col-5">
          <div class="card">
  
            <div class="row">
              <div class="col-12 barra-abajo ">
  
                <div class="row d-flex align-items-center my-2">
                  <div class="col-12">
                    <h3 class="ticket-name-group1 subtittle-tickets">Finances</h3>
                  </div>
                </div>
  
              </div>
            </div>
  
            <div class="row">
              <div class="col-12 barra-abajo ">
                <p>Stat</p>
              </div>
            </div>
  
          </div>
        </div>

      </div>


    </div>

  </section>

  <br>
  <br>

  {{>components/footer}}
</body>

</html>