name: CI - Build & Test

on:
  push:
    branches:
      - dev      
      - master   
  pull_request:
    branches:
      - dev      


jobs:
  build-test:
    runs-on: ubuntu-latest

    services:
      mysql:
        image: mysql:8.3.0
        env:
          MYSQL_DATABASE: lookaudb
          MYSQL_ROOT_PASSWORD: password
        ports:
          - 3306:3306
        options: >-
          --health-cmd="mysqladmin ping -h localhost"
          --health-interval=5s
          --health-timeout=10s
          --health-retries=5

      selenium:
        image: selenium/standalone-chrome:4.23.0
        ports:
          - 4444:4444

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Maven dependencies and run tests
        working-directory: backend
        run: mvn test -Dgroups=!selenium

