name: Sonar Initial Analysis

on:
  push:
    branches: [ "main" ]

jobs:
  sonarcloud:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-maven

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        working-directory: backend
        run: >
          mvn -B verify -Dgroups=!selenium org.sonarsource.scanner.maven:sonar-maven-plugin:sonar
          -Dsonar.projectKey=codeurjc-students_2025-LookAu
          -Dsonar.organization=codeurjc-students
          -Dsonar.host.url=https://sonarcloud.io
